@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,100;1,300&family=Poppins:wght@300;400;500;600&family=Raleway:wght@300&family=Ubuntu:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins;
}
html,body{
    height:100%;
    width:100%;
}
body{
    background-color:black;
}
.main{
    height:100%;
    width:100%;
    position: relative;
}
nav{
    height:100px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 3vw;
    color:#fff;
}
.navcenter{
    display:flex;
    align-items:center;
    width:80%;
    gap:4vw;
}
.navcenter img{
    height:4vw;
    width:10vw;
}
.line1{
    height:0.1vw;
    width:3vw;
    background-color:red;
}
.line2{
    height:0.1vw;
    width:3vw;
    background-color:red;
}
.navleft i{
    font-size:1.3vw;
    font-weight:600;
}
.navright i{
    font-size:1.3vw;
    font-weight:600;
}
.content{
    height:calc(100% - 100px);
    width:100%;
    display:flex;
}
.left1{
    height:100%;
    width:33.3%;
    padding:1vw 3vw;
}
.center1{
    height:100%;
    width:33.3%;
}
.right1{
    height:100%;
    width:33.3%;
    padding:20vw 5vw;
}
.left1 h2{
    font-size:3.8vw;
    color:white;
}
.left1 span{
    color:#004B93;
}
.left1 p{
    color:#fff;
    font-size:1.3vw;
    margin-top:2vw;
    margin-bottom:2vw;
}
.left1 button{
    border-radius:50px;
    padding:1vw 2vw;
    border:hidden;
    font-weight:700;
    background-color:#004B93;
    color:#fff;
    font-size:1.3vw;
}
.center1 img{
    height:100%;
    width:100%;
    border-top-left-radius:1000px;
    border-top-right-radius:1000px;
}
.right1 h3{
    line-height:3vw;
    font-size:1.5vw;
}
.uline{
    height:0.2vw;
    width:20vw;
    background-color:#898989;
}
#uline2{
    margin-left:10.5vw;
}

.right1 h3 i{
    margin-left:8vw;
}
.right1 p{
    margin-top:1vw;
    font-size:1vw;
    color: #898989;
}
.hl{
    color:#898989;
}
.hl2{
    color:white;
}